* {
	/*outline: red 1px dashed;*/
	text-decoration: none;
}
html {
	background-color: #F0F1CF;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	min-width: 750px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	color: #333;
	font-family: 'Squada One', Arial, Helvetica, sans-serif;
	font-size: 40px;
	padding: 0;
	margin: 0;
}

header {
	position: relative;
	z-index: 1;
	height: 130px;
	margin: 0 0 0 20px;
	padding-left: 10px;
}
header img {
	width: 140px;
	height: 140px;
	position: absolute;
	margin: 10px 0 0 0;
}
header h1 {
	color: #FF7124;
	position: absolute;
	font-size: 110px;
	font-family: 'Squada One', Arial, Helvetica, sans-serif;
	margin: 53px 0 0 150px;
	line-height: 70%;
}

.current-page{
	background: #2E3D4D;
	color: #ADCED9;
	cursor: default;
	padding: 10px 15px 10px 15px;
}
nav {
	background-color: #396172;
	-webkit-border-radius:10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: 0 10px 0 10px;
	height: 35px;
	overflow: hidden;
}
nav ul {
	width: 350px;
	margin: 0;
	float: right;
}
nav ul li {
	list-style-type: none;
	display: inline;
	line-height: 35px; /* Line height matches the height of the nav bar to keep the text centered. */
	font-size: 22px;
	font-family: 'Titillium Web', "Trebuchet MS", Helvetica, sans-serif;
	margin: 0 -3px -5px -3px; /* Negative margin so the highlight touches the box next to it */
}
nav ul li:hover {
	background-color: #FF5900;
	color: #F0F1CF;
}
nav a:link {
	color: #FFF;
	padding: 11px 15px 11px 15px; 
}
nav a:visited {
	color: #FFF;
}
nav a:hover {
	color: #F0F1CF;
}

main {
	background-color: #ADCED9;
	min-height: 400px;
	margin: 0 10px 0 10px;
	padding: 30px 30px 30px 30px;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
main img {
	display: block;
	margin: 15px 0px 15px 15px;
	width: 500px;
	height: 375px;
	float: right;
}
main p {
	color: #2E3D4D;
	line-height: 120%;
}

footer {
	color: #CDCE9B;
	clear: both;
	height: 25px;
	text-align: right;
	margin: -15px 20px 0 0;
	padding: 0;
}