<main>
	<h2>Contact</h2>
	<ul>
		<li>email: joemichaelblair@gmail.com</li>
		<li>mobile: 07700 900529</li>
	</ul>

	<h2>Information</h2>
	<p>Te posse doming tibique est? Ea eam nonumes delectus, ei eos blandit ocurreret? Nemore graecis fierent ea sed, pro meis falli commodo no. Scripta percipitur duo id, in pro choro discere complectitur, sed cu agam laudem repudiandae! Eam semper eripuit deserunt id, alia postulant hendrerit ei sea! Vel ad ipsum definiebas, magna noster neglegentur qui ex.</p>
	<p>Ne sit persius pertinax posidonium. Sit dicunt salutatus ei. Eam sapientem persequeris vituperatoribus te, pri etiam sensibus no. Has tacimates invenire mediocrem et!</p>
	<p>Aeque fierent liberavisse et usu, congue ornatus eum! Id his euismod democritum, cum dicta semper id. Diceret contentiones nam eu. Ius possit scribentur ad. Vis no graeco aperiam, alterum salutandi ne duo, vel nihil habemus gubergren ex! Justo munere numquam no pri, enim propriae gloriatur qui in?</p>
</main>